{
    "presets": [
        [
            "@babel/preset-env",
            {
                "shippedProposals": true,
                "targets": {
                    "node": "current"
                }
            }
        ],
        [
            "@babel/preset-react",
            {
                "shippedProposals": true,
                "targets": {
                    "node": "current"
                }
            }
        ]
        /* ["airbnb",
            {
                "targets": {
                    "node": "current"
                }
            }
        ] */
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties"
    ]
}